{% extends "main/base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Особистий кабінет</title>
    {% block extra_styles %}
    <link rel="stylesheet" href="{% static 'main/css/personal.css' %}"/>
    {% endblock %}
</head>
<body>
{% block content %}
<div class="wrapper">
    <main>
        <div class="container">
            <div class="personal__inner">
                <div class="title-wrapper-start">
                    <h1 class="title-xl">Мій акаунт</h1>
                    <a class="link-sm" href="#">Дивитися публічний профіль</a>
                </div>

                <div class="personal__content-wrapper">
                    <aside class="personal__content-left">
                        <div class="personal__content-left-wrapper">
                            <nav>
                                <ul class="aside-nav__list">
                                    <li class="text-medium-18"><a href="#">Налаштування профілю</a></li>
                                    <li class="text-medium-18 aside-nav__active"><a href="#">Мої резюме</a></li>
                                    <li class="text-medium-18"><a href="#">Історія відгуків</a></li>
                                </ul>
                                <ul class="vacancy-info__list">
                                    <li class="vacancy-info__list-item">
                                        <a class="text-medium-18" href="#">Рекомендовані вакансії</a>
                                        <p class="vacancy-info__item-value">12</p>
                                    </li>
                                    <li class="vacancy-info__list-item">
                                        <a class="text-medium-18" href="#">Збережені вакансії</a>
                                        <p class="vacancy-info__item-value">4</p>
                                    </li>
                                </ul>
                            </nav>
                            <div class="personal__logout__link-wrapper">
                                <a href="#" class="logout__link text-medium-18">
                                    <img
                                            src="../../images/log-in.svg"
                                            alt="search"
                                            class="search__img"
                                    />Вийти</a
                                >
                            </div>

                        </div>


                    </aside>
                    <section class="personal__content-right">
                        <ul class="personal__vacancy-list">
                            {% for resume in resumes %}
                            <li class="personal__vacancy-item">
                                <div class="personal__vacancy-item-left">
                                    <div class="personal__item-title-wrapper">
                                        <h3 class="personal__vacancy-title">{{ resume.desired_positions }}</h3>
                                        <p class="personal__item-title-text">Оновлено 3 місяці тому</p>
                                    </div>
                                    <div class="personal__item-info-wrapper">
                                        <div class="personal__item-info">
                                            <p class="subtitle-text">250</p>
                                            <p class="subtitle-description">показів</p>
                                        </div>
                                        <div class="personal__item-info">
                                            <p class="subtitle-text">57</p>
                                            <p class="subtitle-description">переглядів</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="personal__title-icon-wrapper">
                                    <img
                                            src="../../images/edit.svg"
                                            alt="edit"
                                            class="personal__title-edit-icon"
                                    />
                                    <img
                                            class="more-vertical-icon"
                                            src="../../images/more-vertical.svg"
                                            alt="more-vertical"
                                    />
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'create_resume' %}">
                            <button class="personal__btn-add-resume btn-transparent">
                                <img src="../../images/add-circle-dark.svg" alt="add-circle">
                                Cтворити ще одне резюме
                            </button>
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
<script src="../../index.js"></script>
</body>
</html>
