{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Головна</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}"/>
</head>
<body>
<div class="wrapper">
    <main class="main">
        <div class="container">
           <section class="registration">
               <div class="registration-content">
                   <div class="stepper-wrapper">
                       <div class="stepper-item">
                           <div class="step-counter done"><img class="check-mark" src="{% static 'images/check-mark.svg' %}" alt="#"></div>
                           <div class="step-name">Номер телефону</div>
                       </div>
                       <div class="stepper-item">
                           <div class="step-counter done"><img class="check-mark" src="{% static 'images/check-mark.svg' %}" alt="#"></div>
                           <div class="step-name">Підтвердження</div>
                       </div>
                       <div class="stepper-item step-completed">
                           <div class="step-counter">3</div>
                           <div class="step-name">Особисті дані</div>
                       </div>
                   </div>
                   <h3 class="form__title">Реєстрація</h3>
                   <p class="form__subtitle">Введіть свої особисті дані, щоб завершити реєстрацію</p>
                   <form method="post" action="{% url 'register_seeker_step3' %}" class="form">
                       {% csrf_token %}
                       <div class="form__input-wrapper">

                           {{ form.first_name }}
                       </div>
                       <div class="form__input-wrapper">

                           {{ form.last_name }}
                       </div>
                       <div class="form__input-wrapper">

                           {{ form.city }}
                       </div>
                       <div class="form__input-wrapper">

                           {{ form.password1 }}
                       </div>
                       <div class="form__input-wrapper">

                           {{ form.password2 }}
                       </div>
                       <div class="form__double-input-wrapper">
                           <a href="{% url 'register_seeker_step2' %}" class="form__link-back btn-transparent">Назад</a>
                           <input type="submit" class="form__submit-btn btn-color" value="Створити акаунт">
                       </div>
                   </form>
               </div>
           </section>
        </div>
    </main>
</div>
<script src="{% static 'main/index.js' %}"></script>
</body>
</html>
