{% extends "main/base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Особистий кабінет</title>
    {% block extra_styles %}
    <link rel="stylesheet" href="{% static 'main/css/personal.css' %}"/>
    {% endblock %}
</head>
<body>
<div class="wrapper">
    {% block content %}
    <main>
        <div class="container">
            <div class="personal__inner">
                <div class="title-wrapper-start">
                    <h1 class="title-xl">Мій акаунт</h1>
                </div>

                <div class="personal__content-wrapper">
                    <aside class="personal__content-left">
                        <div class="personal__content-left-wrapper">
                            <nav>
                                <ul class="aside-nav__list">
                                    <li class="text-medium-18">
                                        <a href="#">Налаштування профілю</a>
                                    </li>
                                    <li class="vacancy-info__list-item">
                                        <a class="text-medium-18 aside-nav__active" href="#">Вакансії</a>
                                        <p class="vacancy-info__item-value">3</p>
                                    </li>
                                    <li class="vacancy-info__list-item">
                                        <a class="text-medium-18" href="#">Відгуки</a>
                                        <p class="vacancy-info__item-value">123</p>
                                    </li>
                                </ul>
                                <ul class="aside-nav__list">
                                    <li class="vacancy-info__list-item">
                                        <a class="text-medium-18" href="#">Потенційни Кандидати</a>
                                        <p class="vacancy-info__item-value">430</p>
                                    </li>
                                    <li class="vacancy-info__list-item">
                                        <a class="text-medium-18" href="#">Збережені Кандидати</a>
                                        <p class="vacancy-info__item-value">12</p>
                                    </li>
                                </ul>
                                <ul class="vacancy-info__list">
                                    <li class="vacancy-info__list-item">
                                        <a class="text-medium-18" href="#">Аналітика</a>

                                    </li>
                                    <li class="vacancy-info__list-item">
                                        <a class="text-medium-18" href="#">Оплата</a>

                                    </li>
                                    <li class="vacancy-info__list-item">
                                        <a class="text-medium-18" href="#">Реквізити</a>

                                    </li>
                                </ul>
                            </nav>
                            <div class="personal__logout__link-wrapper">
                                <a href="#" class="logout__link text-medium-18">
                                    <img
                                            src="../../images/log-in.svg"
                                            alt="search"
                                            class="search__img"
                                    />Вийти</a
                                >
                            </div>

                        </div>


                    </aside>
                    <section class="personal__content-right">
                        <div class="personal__filter-block">
                            <ul class="user__actions">

                                <li class="user__actions-item ">
                                    <a href="#" class="user__actions-btn user__actions-btn-active">Активні (3)</a>
                                </li>
                                <li class="user__actions-item">
                                    <a href="#" class="user__actions-btn ">Закриті (0)</a>
                                </li>
                            </ul>
                            <div class="search__filter">
                                <img src="../../images/sort.svg" alt="filter" class="search__filter-img">
                                <button class="search__filter-btn">Спочатку нові</button>
                            </div>
                        </div>
                        <ul class="personal__vacancy-list">
                            {% for vacancy in vacancies %}
                            <li class="personal__vacancy-item">
                                <div class="personal__vacancy-item-left">
                                    <div class="personal__item-title-wrapper">
                                        <h3 class="personal__vacancy-title">{{ vacancy.position }}</h3>
                                        <p class="personal__item-title-text">Розміщено 6.03.2024</p>
                                    </div>
                                </div>
                                <div class="personal__vacancy-item-right">
                                    <div class="personal__item-info-inner">
                                        <div class="personal__item-info">
                                            <p class="subtitle-text">250</p>
                                            <p class="subtitle-description">показів</p>
                                        </div>
                                        <div class="personal__item-info">
                                            <p class="subtitle-text">12</p>
                                            <p class="subtitle-description">відгуків</p>
                                        </div>
                                        <div class="personal__item-info">
                                            <p class="subtitle-text">57</p>
                                            <p class="subtitle-description">переглядів</p>
                                        </div>
                                    </div>
                                    <div class="personal__title-icon-wrapper">
                                        <img
                                                src="../../images/edit.svg"
                                                alt="edit"
                                                class="personal__title-edit-icon"
                                        />
                                        <img
                                                class="more-vertical-icon"
                                                src="../../images/more-vertical.svg"
                                                alt="more-vertical"
                                        />
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                        <button class="personal__btn-add-resume btn-transparent text-medium-16-light">
                            <img src="../../images/add-circle-dark.svg" alt="add-circle">
                            Cтворити ще одну вакансію
                        </button>
                    </section>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
</div>
<script src="../../index.js"></script>
</body>
</html>
