{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<head>
    <meta charset="UTF-8"/>
    <title>Створення вакансії</title>
    {% block extra_styles %}
    <link rel="stylesheet" href="{% static 'main/css/create-vacancy.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/personal.css' %}"/>
    {% endblock %}
</head>
{% block content %}
    <div class="bg-blur bg-blur__create-vacancy"></div>
    <main>
        <div class="container">
            <div class="create-vacancy__inner">
                <h1 class="title-xl">Створення вакансії</h1>
                <div class="create-vacancy__content-wrapper">
                    <section class="create-vacancy__content-left">
                        <form class="form__inner vacancy-form" method="post" action="{% url 'create_vacancy' %}">
                            {% csrf_token %}
                            <fieldset id="info" class="form-field section">
                                <h3 class="title-article">Основна інформація</h3>
                                <div class="form__inputs-wrapper">
                                    <div class="form__input-horizontal-list-wrapper">
                                        <label for="id_position" class="label-list text-medium-16"
                                        >Назва посади</label
                                        >
                                        {{ form.position }}

                                    </div>
                                    <span id="position-error-message" class="error-message">Посаду не знайдено</span>
                                    <div class="form__input-horizontal-wrapper">
                                        <label for="id_position_comment" class="text-medium-16"
                                        >Коментар до посади</label
                                        >
                                        {{ form.position_comment }}
                                    </div>
                                    <div class="form__input-horizontal-wrapper">
                                        <span class="text-medium-16">Категорія</span>
                                            <div class="type-category-wrapper">
                                                <div id="category_list" class="category_list"></div>
                                            </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="conditions" class="form-field section">
                                <h3 class="title-article">Умови роботи</h3>
                                <div class="form__inputs-wrapper">
                                    <div class="form__input-horizontal-wrapper">
                                        <label for="place" class="text-medium-16"
                                        >Місто роботи</label
                                        >
                                        {{ form.city }}

                                    </div>
                                    <span id="city-error-message" class="error-message">Місто не знайдено</span>
                                    <div class="form__input-horizontal-wrapper">
                                        <label for="address" class="text-medium-16"
                                        >Адреса роботи</label
                                        >
                                        {{ form.address }}
                                    </div>
                                    <div class="form__input-horizontal-wrapper">
                                        <label for="id_phone_number" class="text-medium-16"
                                        >Номер телефону</label
                                        >
                                        {{ form.phone_number }}
                                    </div>
                                    <div class="form__input-horizontal-wrapper">
                                        <label class="text-medium-16">Зарплата</label>
                                        <div class="input-salary-right">
                                            <label for="from" class="label-hidden">from</label>
                                            {{ form.min_salary }}
                                            <span>-</span>
                                            <label for="to" class="label-hidden"></label>
                                            {{ form.max_salary }}
                                        </div>
                                    </div>
                                    <div class="input-add__wrapper">
                                        <label for="student" class="create__container-label">
                                            <input class="personal__checkbox" id="student" type="checkbox"/>
                                            <span class="create__checkmark"></span>
                                        </label>
                                        <label for="student">Не вказувати</label>
                                    </div>
                                    <div class="form__input-horizontal-wrapper">
                                        <label for="schedule" class="text-medium-16"
                                        >Графік роботи</label
                                        >
                                        <div class="create-resume__select-wrapper create-resume__select-size-lg">
                                        {{ form.schedule }}
                                        </div>
                                    </div>
                                    <div class="form__input-horizontal-wrapper">
                                        <label for="hashtags" class="text-medium-16"
                                        >Хештеги</label
                                        >
                                        <input
                                                id="hashtags"
                                                class="form__input create-vacancy__input-size"
                                                type="text"
                                                placeholder="#"
                                        />
                                    </div>
                                    <div class="form__input-horizontal-wrapper">
                                        <label for="hashtags" class="text-medium-16"
                                        >Соц. Мережі</label
                                        >
                                        {{ form.social_networks }}
                                    </div>
                                    <div class="form__input-horizontal-wrapper">
                                        <ul class="form__input-checkbox-wrapper">
                                            <li class="form__input-checkbox-item">
                                                <p class="title-checkbox-item">Тип зайнятості*</p>
                                                {{ form.employment_type }}
                                            </li>
                                            <li class="form__input-checkbox-item">
                                                <p class="title-checkbox-item">Характер роботи</p>
                                                {{ form.education_level }}
                                            </li>
                                            <li class="form__input-checkbox-item">
                                                <p class="title-checkbox-item">
                                                    Готовність до переїзду
                                                </p>
                                                {{ form.experience }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="desc" class="form-field section">
                                <h3 class="title-article">Опис посади</h3>
                                <div class="form__inputs-wrapper">
                                    <label for="desc-role" class="label-hidden"
                                    >Адреса роботи</label
                                    >
                                    {{ form.description }}
                                </div>
                                <p class="textarea-description">
                                    Вимоги, обов’язки, проект, умови праці. Використовуйте
                                    <b>**зірочки**</b>
                                    для bold
                                </p>
                            </fieldset>
                            <div class="create-vacancy__checkbox-wrapper">
                                    <label for="duplicate" class="create__container-label">
                                        <input class="personal__checkbox" id="duplicate" type="checkbox"/>
                                        <span class="create__checkmark"></span>
                                    </label>
                                    <label for="duplicate">Не вказувати</label>
                            </div>
                            {{ form.status }}


                            <div class="create-vacancy__button-wrapper">
                                <button
                                        type="submit"
                                        class="create-vacancy__create-btn btn-color"
                                >
                                    Розмістити вакансію
                                </button>
                                <button
                                        type="button"
                                        class="create-vacancy__view-btn btn-transparent"
                                >
                                    Переглянути
                                </button>
                            </div>
                        </form>
                    </section>
                    <aside class="create-vacancy__content-right">
                        <div class="right-content__sticky">
                            <div class="news-item__article-right">
                                <div class="container-stepper">
                                    <div class="step">
                                        <div class="v-stepper">
                                            <div class="circle"></div>
                                            <div class="line"></div>
                                        </div>
                                        <a class="active" href="#info">Основна інформація</a>
                                    </div>
                                    <div class="step">
                                        <div class="v-stepper">
                                            <div class="circle"></div>
                                            <div class="line"></div>
                                        </div>
                                        <a href="#conditions">Умови роботи</a>
                                    </div>
                                    <div class="step">
                                        <div class="v-stepper">
                                            <div class="circle"></div>
                                            <div class="line"></div>
                                        </div>
                                        <a href="#desc">Опис вакансії</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block extra_js %}
    <!-- Підключення jQuery та jQuery UI -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script>
        const positionAutocompleteUrl = "{% url 'position-autocomplete' %}";
        const getCategoriesUrl = "{% url 'get_categories' %}";
        const cityAutocompleteUrl = "{% url 'city-autocomplete' %}";
    </script>
    <script src="{% static 'main/js/autocomplete-position.js' %}"></script>
    <script src="{% static 'main/js/autocomplete-city.js' %}"></script>
    <script src="{% static 'main/js/autocomplete-eror.js' %}"></script>
{% endblock %}

