{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Створення вакансії</title>
    {% block extra_styles %}

    <link rel="stylesheet" href="{% static 'main/css/create-vacancy.css' %}"/>
    {% endblock %}
</head>
<body>
<div class="wrapper">
    {% block content %}
    <main>
        <div class="container">
            <div class="create-vacancy__inner">
                <h1 class="title-xl">Створення вакансії</h1>
                <div class="create-vacancy__content-wrapper">
                    <section class="create-vacancy__content-left">
                        <form class="form__inner" method="post">
                            {% csrf_token %}
                            <fieldset class="form-field">
                                <h3 class="form__subtitle-md">Основна інформація</h3>
                                <div class="form__inputs-wrapper">
                                    <div class="form__input-horizontal-wrapper">
                                        <label for="id_position_name" class="text-medium-16"
                                        >Назва посади</label
                                        >
                                        {{ form.position_name }}
                                    </div>
                                    <div class="form__input-horizontal-wrapper">
                                        <label for="id_category" class="text-medium-16">Категорія</label>
                                        <div id="category_list"></div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-field">
                                <h3 class="form__subtitle-md">Умови роботи</h3>
                                <div class="form__inputs-wrapper">
                                    <div class="form__input-horizontal-wrapper">
                                        <label for="place" class="text-medium-16"
                                        >Місто роботи</label
                                        >
                                        {{ form.city }}
                                    </div>
                                    <div class="form__input-horizontal-wrapper">
                                        <label for="address" class="text-medium-16"
                                        >Адреса роботи</label
                                        >
                                        {{ form.address }}
                                    </div>
                                    <div class="form__input-horizontal-wrapper">
                                        <label class="text-medium-16">Зарплата</label>
                                        <div class="input-salary-right">
                                            <label for="from" class="label-hidden">from</label>
                                            {{ form.min_salary }}
                                            <span>-</span>
                                            <label for="to" class="label-hidden"></label>
                                            {{ form.max_salary }}

                                        </div>
                                    </div>
                                    <div class="form__input-horizontal-wrapper">
                                        <ul class="form__input-checkbox-wrapper">
                                            <li class="form__input-checkbox-item">
                                                <p class="title-checkbox-item">Тип зайнятості</p>
                                                <div class="form__checkbox-wrapper">
                                                    <input
                                                            id="full"
                                                            type="checkbox"
                                                            name="work schedule"
                                                    />
                                                    <label class="label-checkbox" for="full"
                                                    >Повна зайнятість</label
                                                    >
                                                </div>
                                                <div class="form__checkbox-wrapper">
                                                    <input
                                                            id="part"
                                                            type="checkbox"
                                                            name="work schedule"
                                                    />
                                                    <label class="label-checkbox" for="part"
                                                    >Неповна зайнятість</label
                                                    >
                                                </div>
                                                <div class="form__checkbox-wrapper">
                                                    <input
                                                            id="stuff"
                                                            type="checkbox"
                                                            name="work schedule"
                                                    />
                                                    <label class="label-checkbox" for="stuff"
                                                    >Позмінна робота</label
                                                    >
                                                </div>
                                            </li>
                                            <li class="form__input-checkbox-item">
                                                <p class="title-checkbox-item">Характер роботи</p>
                                                <div class="form__checkbox-wrapper">
                                                    <input
                                                            id="practice"
                                                            type="checkbox"
                                                            name="work schedule"
                                                    />
                                                    <label class="label-checkbox" for="practice"
                                                    >Стажування/практика</label
                                                    >
                                                </div>
                                                <div class="form__checkbox-wrapper">
                                                    <input
                                                            id="remote"
                                                            type="checkbox"
                                                            name="work schedule"
                                                    />
                                                    <label class="label-checkbox" for="remote"
                                                    >Віддалена робота</label
                                                    >
                                                </div>
                                                <div class="form__checkbox-wrapper">
                                                    <input
                                                            id="office"
                                                            type="checkbox"
                                                            name="work schedule"
                                                    />
                                                    <label class="label-checkbox" for="office"
                                                    >Робота в офісі</label
                                                    >
                                                </div>
                                                <div class="form__checkbox-wrapper">
                                                    <input
                                                            id="hybrid"
                                                            type="checkbox"
                                                            name="work schedule"
                                                    />
                                                    <label class="label-checkbox" for="hybrid"
                                                    >Гібридна робота</label
                                                    >
                                                </div>
                                            </li>
                                            <li class="form__input-checkbox-item">
                                                <p class="title-checkbox-item">
                                                    Готовність до переїзду
                                                </p>
                                                <div class="form__checkbox-wrapper">
                                                    <input
                                                            id="ready"
                                                            type="radio"
                                                            name="work schedule"
                                                    />
                                                    <label class="label-checkbox" for="ready"
                                                    >Можу виїхати за потреби</label
                                                    >
                                                </div>
                                                <div class="form__checkbox-wrapper">
                                                    <input
                                                            id="no-ready"
                                                            type="radio"
                                                            name="work schedule"
                                                    />
                                                    <label class="label-checkbox" for="no-ready"
                                                    >НЕ готовий до переїзду</label
                                                    >
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-field">
                                <h3 class="form__subtitle-md">Опис посади</h3>
                                <div class="form__inputs-wrapper">
                                    <label for="desc-role" class="label-hidden"
                                    >Адреса роботи</label
                                    >
                                    {{ form.description }}
                                </div>
                                <p class="textarea-description">
                                    Вимоги, обов’язки, проект, умови праці. Використовуйте
                                    <b>**зірочки**</b>
                                    для bold
                                </p>
                            </fieldset>
                            {{ form.status }}

                            <div class="form__button-wrapper">
                                <button
                                        type="submit"
                                        class="create-vacancy__create-btn btn-color"
                                >
                                    Розмістити вакансію
                                </button>
                                <button
                                        type="button"
                                        class="create-vacancy__view-btn btn-transparent"
                                >
                                    Переглянути
                                </button>
                            </div>
                        </form>
                    </section>
                    <aside class="create-vacancy__content-right">
                        <div class="news-item__article-right">
                            <div class="v-progress">
                                <ul>
                                    <li class="v-progress-item completed active">
                                        Основна інформація
                                    </li>
                                    <li class="v-progress-item inprogress">Умови роботи</li>
                                    <li class="v-progress-item inprogress">Опис вакансії</li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
</div>
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function() {
            $('#id_position_name').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    // Handle the category loading here
                    $.ajax({
                        url: "{% url 'get_categories' %}",
                        data: {
                            position: ui.item.value
                        },
                        success: function (data) {
                            var categoryList = $('#category_list');
                            categoryList.empty();
                            $.each(data, function (key, value) {
                                categoryList.append('<p>' + value + '</p>');
                            });
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
</body>
</html>
