{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {% block extra_styles %}
    {% endblock %}
    {{ form.media }}
</head>

<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__inner-left">
                <a class="header__logo" href="{% url 'home' %}"><img src="{% static 'main/images/logo.svg' %}" alt="logo" class="logo__img"></a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item"><a href="#" class="menu__link">Про компанію</a></li>
                        <li class="menu__list-item"><a href="#" class="menu__link">Новини</a></li>
                    </ul>
                </nav>
            </div>

            {% if user.is_authenticated %}
            <!-- user-block auth -->
            <div class="header__inner-right">
                {% if user.role == 'seeker' %}
                <a href="{% url 'create_resume' %}" >
                <button class="header__create-btn btn-transparent" href="{% url 'home' %}">Створити резюме</button>
                </a>
                <img src="{% static 'main/images/bell.svg' %}" alt="bell" class="header__bell">
                <a href="{% url 'edit_profile' %}">
                    <div class="header__user-block">
                        <img src="{% static 'main/images/header-img.svg' %}" alt="header__profile-img" class="header__profile-img">
                        <p class="header__user-name">{{ user.first_name }} {{ user.last_name }}</p>
                    </div>
                </a>
                {% elif user.role == 'employer' %}
                <a href="{% url 'create_vacancy' %}">
                    <button class="header__create-btn btn-transparent">Створити вакансію</button>
                </a>
                <img src="{% static 'main/images/bell.svg' %}" alt="bell" class="header__bell">
                <div class="header__user-block">
                    <a href="{% url 'edit_profile' %}">
                        <img src="{% static 'main/images/header-img.svg' %}" alt="header__profile-img" class="header__profile-img">
                        <p class="header__user-name">{{ user.first_name }} {{ user.last_name }}</p>
                    </a>
                </div>
                {% endif %}
            </div>
            {% else %}
            <!-- user-block no auth -->
            <div class="header__inner-right">
                <div class="user">
                    <ul class="user__actions">
                        <li class="user__actions-item">
                            <a href="{% url 'home' %}" class="user__actions-btn user__actions-btn-active"
                            >Пошукачу</a
                            >
                        </li>
                        <li class="user__actions-item">
                            <a href="{% url 'main-employer-no-auth' %}" class="user__actions-btn ">Роботодавцю</a>
                        </li>
                    </ul>
                    <a href="#" class="search__link">
                        <img
                                src="{% static 'main/images/log-in.svg' %}"
                                alt="search"
                                class="search__img"
                        /><span>Увійти</span></a
                    >
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#" class="footer__link">Про компанію</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Контакти</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Допомога</a></li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#" class="footer__link">Корисні новини</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Оферта</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Умови користування</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Політика конфеденційності</a></li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#" class="footer__link">Фейсбук</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Телеграм</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Вайбер</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Інстаграм</a></li>
            </ul>
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#" class="footer__link"><img src="{% static 'main/images/logo.svg' %}"></a></li>
                <li class="footer__list-item"><a href="#" class="footer__btn btn-transparent">Для роботодавця</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="{% static 'main/js/index.js' %}"></script>

{% block extra_js %}
{% endblock %}
</body>
</html>
