{% extends "main/base.html" %}
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Головна</title>
    {% block extra_styles %}

    {% endblock %}
</head>
<body>


    {% block content %}
    <div class="bg-blur bg-blur__main"></div>

    <main class="main">
        <section class="search-top">
            <div class="search-top__inner">
                <h1 class="title-1">JUST looc - Тут Твоя Робота</h1>
                <p class="main__subtitle">
                    <span class="main__subtitle-bold">{{vacancies_count_all}}</span> актуальних вакансій
                    від <span class="main__subtitle-bold">{{company_count_all}}</span> компаній
                </p>
                <div class="search-location">
                    {% include 'searcher/search_vacancy_form.html' with form=form %}
                </div>
            </div>
        </section>
        <div class="container">
            <section>
                <div class="popular-vacancies__block-wrapper">
                    <div class="vacancies-block">
                        <div class="vacancies-block__top">
                            <div class="vacancies-block__top-left">
                                <img src="{% static 'main/images/stairs-up.svg' %}" alt="rectangle"/>
                                <h2 class="text-medium-20">Популярні вакансії</h2>
                            </div>
                            <div class="advices-block__top-right">
                            <a href="{% url 'vacancy_list' %}" class=" icon icon__link">Подивитись всі</a>
                        </div>
                        </div>
                        <ul class="vacancies-block__list">
                            {% for position in position_counts %}
                            <li class="vacancies-block__list-item">
                                <a href="{% url 'vacancy_list' %}?title={{ position.position__name|urlencode }}">
                                    <span class="vacancies-block__list-title">{{ position.position__name }}</span>
                                </a>
                                <span class="vacancies-block__list-number">{{ position.count }}</span>
                            </li>
                            {% endfor %}
                        </ul>


                    </div>
                    <div class="vacancies-block">
                        <div class="vacancies-block__top">
                            <div class="vacancies-block__top-left">
                                <img src="{% static 'main/images/popular-categories.svg' %}" alt="rectangle"/>
                                <h2 class="text-medium-20">Популярні категорії</h2>
                            </div>
                            <div class="advices-block__top-right">
                                <a href="{% url 'vacancy_list' %}" class=" icon icon__link">Подивитись всі</a>
                            </div>
                        </div>
                        <ul class="vacancies-block__list">
                            {% for category in category_counts %}
                            <li class="vacancies-block__list-item">
                                <a href="{% url 'vacancy_list' %}?category={{ category.position__categories__id }}">
                                    <span class="vacancies-block__list-title">{{ category.position__categories__name }}</span>
                                </a>
                                <span class="vacancies-block__list-number">{{ category.count }}</span>
                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>

            </section>
            <section class="resume">
                <div class="resume__block-wrapper">
                    <div class="resume__block">
                        <div class="resume__block-left">
                            <img src="{% static 'main/images/pdf.svg' %}" alt="resume"/>
                        </div>
                        <div class="resume__block-right">
                            <h2 class="title-2">Розмістіть своє резюме</h2>
                            <p class="resume__subtitle">
                                Розмістивши на сайті своє резюме ви пришвидшите пошук роботи
                            </p>
                            <button class="resume__btn btn-color text-btn">Створити резюме</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="advices">
                <div class="advices__block-wrapper">
                    <div class="advices__block-top">
                        <h2 class="title-2">Поради та статті</h2>
                        <div class="advices-block__top-right">
                            <a href="#" class="icon icon__link">Подивитись всі</a>
                        </div>
                    </div>
                    <ul class="advices__block">
                        <li class="advices__block-item">
                            <div class="advices__block-left">
                                <img src="{% static 'main/images/image-icon.png' %}" alt="advices"/>
                            </div>
                            <div class="advices__block-right">
                                <p class="title-3">Як скласти вражаюче резюме:</p>
                                <p class="title-3">
                                    крок за кроком із практичними порадами
                                </p>
                                <a href="" class="advices__link">Читати далі</a>
                            </div>
                        </li>
                        <li class="advices__block-item">
                            <div class="advices__block-left">
                                <img src="{% static 'main/images/image-icon.png' %}" alt="advices"/>
                            </div>
                            <div class="advices__block-right">
                                <p class="title-3">Як скласти вражаюче резюме:</p>
                                <p class="title-3">
                                    крок за кроком із практичними порадами
                                </p>
                                <a href="" class="advices__link">Читати далі</a>
                            </div>
                        </li>
                        <li class="advices__block-item">
                            <div class="advices__block-left">
                                <img src="{% static 'main/images/image-icon.png' %}" alt="advices"/>
                            </div>
                            <div class="advices__block-right">
                                <p class="title-3">Як скласти вражаюче резюме:</p>
                                <p class="title-3">
                                    крок за кроком із практичними порадами
                                </p>
                                <a href="" class="advices__link">Читати далі</a>
                            </div>
                        </li>
                        <li class="advices__block-item">
                            <div class="advices__block-left">
                                <img src="{% static 'main/images/image-icon.png' %}" alt="advices"/>
                            </div>
                            <div class="advices__block-right">
                                <p class="title-3">Як скласти вражаюче резюме:</p>
                                <p class="title-3">
                                    крок за кроком із практичними порадами
                                </p>
                                <a href="" class="advices__link">Читати далі</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>

{% endblock %}
<script src="../../index.js"></script>
</body>
</html>
